<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AI-Testing | Protoype FT</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/color.css') }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" />
  <script src="{{ url_for('static', filename='scripts/nav.js') }}" defer></script>
  <script src="{{ url_for('static', filename='scripts/suggestions.js') }}" defer></script>
</head>

<body>
  <div id="loader"><span></span></div>
  <nav id="main-nav">
    <ul></ul>
  </nav>
  <div class="content">
    <h1>Chat with Fine-Tuned model</h1>
    <form action="/pt-ft" method="post">
      <div class="input-field ai-chat">
        <textarea name="question" id="question"></textarea>
        <input type="submit" value="ask AI" />
      </div>
    </form>
    {% if result %}
    <h2>{{question}}</h2>
    <p class="answer">{{result.text}}</p>
    <p>{{result.usage_metadata}}</p>
    <hr />
    {% endif %}
  </div>
</body>

</html>